www.putarianotelegram.net {
  redir https://putarianotelegram.net{uri} permanent
}

putarianotelegram.net {
  encode zstd gzip

  log {
    output file /data/access.log {
      roll_size 10mb
      roll_keep 5
      roll_keep_for 720h
    }
    format json
  }

  reverse_proxy frontend:80
}
